<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Pharmora, yakınınızdaki eczaneleri gösterebilmek ve ilaç alım-satım işlemlerinizi kolaylaştırabilmek için konumunuza ihtiyaç duyar. Bu izin sadece uygulamayı aktif olarak kullandığınız sırada geçerlidir.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Pharmora, yakınınızdaki eczaneleri gösterebilmek ve ilaç alım-satım işlemlerinizi kolaylaştırabilmek için konum bilginize ihtiyaç duyar.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Pharmora, yakınınızdaki eczaneleri gösterebilmek ve ilaç alım-satım işlemlerinizi kolaylaştırabilmek için konum bilginize ihtiyaç duyar.</string>
    <key>NSLocationTemporaryUsageDescriptionDictionary</key>
    <dict>
        <key>NearbyPharmaciesAccuracy</key>
        <string>Size en yakın eczaneleri doğru şekilde gösterebilmek ve ilaç alım-satım işlemlerinizi kolaylaştırabilmek için tam konum bilginize ihtiyacımız var. Daha hassas konum bilgisi, daha doğru sonuçlar almanızı sağlar.</string>
    </dict>
    <key>NSLocationDefaultAccuracyReduced</key>
    <false/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>comgooglemaps</string>
        <string>tel</string>
    </array>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
    </dict>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>armv7</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
</dict>
</plist> 